# Core dependencies
streamlit
langgraph
langchain
langchain-community
langchain-openai
langchain-experimental
langchain-core
langgraph-supervisor
openai
openai-agents

# Document processing
faiss-cpu
unstructured
pypdf
pydantic
pdf2image
pypandoc
python-docx
sentence-transformers
pymupdf4llm

# Web tools and research
wikipedia
#duckduckgo-search
ddgs
beautifulsoup4
requests
kerykeion

# Markdown and text processing
markdown
markdownify

# Utility
tqdm
uuid
aiohttp
asyncio
numpy
pandas
nest_asyncio
pymupdf
ffmpeg-python==0.2.0
ffprobe==0.5
pydub==0.25.1
openpyxl
langchain-pymupdf4llm
unstructured[all-docs]
langextract[openai]
streamlit-agraph

# Web page processing tools
bs4
lxml
st-login-form
